<div class="greeting">
<h1>Welcome, <%= @user.first_name %>!</h1>
</div>

<div class="posts">
  <h2>My Posts</h2>
  <% @posts.each do |post| %>
    <ul class="user-posts">
      <li><%= post.body %></li>
      <li class="post-delete"><%= link_to "Delete Post", post_path(post), method: :delete, class: "delete" %></li>
    </ul>
  <% end %>
</div>